:root {
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --logo-black-color:#000000;
    --hero-background-color:#2F303A;
    --hero-btm-focus:#188CE8;
    --team-background-color:#F5F4FA;
    --footer-email-phone: rgba(255, 255, 255, 0.6);
    }

body {
    background-color: var(--primary-white-color);
    color:var(--primary-text-color) ;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol, p{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* ------START NAVIGATION------ */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.header-contacts{
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}

.logo-black-part {
    color: var(--logo-black-color);
}

.logo-white-part{
    color: var(--primary-white-color)
}

.nav-link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link:hover, .nav-link:focus {
    color: var(--accent-color);
}

.current {
    color: var(--accent-color);
}

.contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-email{
    margin-right: 50px;
}
.contacts-icon {
    fill: var(--primary-text-color);
    margin-right: 10px;
}
.contacts-icon:hover,
.contacts-icon:focus {
    fill: var(--accent-color);
}

/* ------END NAVIGATION------ */

/* ------START HERO------ */

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
    ),
     url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #C4C4C4;
    padding: 200px 0;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    text-align: center;
    margin-bottom: 30px;
}

.hero-buttom {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid var(); */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero-buttom:hover, .hero-buttom:focus{
    background-color: var(--hero-btm-focus);
}
/* ------END HERO------ */

/* ------START FEATURE------ */
.visually-hidden{
    position: fixed;
    transform: scale(0);
}

.feature-container-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.feature-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

.feature-description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feature-container-list{
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
}
.feature-icon-container{
    background-color:var(--team-background-color);
    margin-bottom: 30px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------END FEATURE------ */

/* ------START direction------ */
.direction-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.direction-item-list{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.direction {
    padding-top: 0px;
}
/* ------END direction------ */

/* ------START TEAM------ */
.team{
    background-color:var(--team-background-color);
}

.team-title{
    margin-bottom: 50px;
    text-align: center;
}

.team-card-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-card{
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
}

.direction-title, .team-title, .feature-main-title, .portfolio-title, .clients-section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 50px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.member-job{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.team-member-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.team-member-wrapper{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}

.social-list-icon {
  fill: #AFB1B8;
}

.social-list-link{
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
    fill: var(--primary-white-color);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--accent-color);
}

/* ------END TEAM------ */

/* ------START Clients Section------ */

.clients-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.clients-list-item{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 180px) / 6); 
}

.clients-logo-icon{
    fill: #AFB1B8;
}

.clients-logo-icon:hover {
    fill:#2196F3;
}

.clients-logo-container{
border: 1px solid #AFB1B8;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
width: 170px;
height: 92px;
}

.clients-logo-container:hover{
    border: 1px solid #2196F3;
}
/* ------END Clients Section------ */


/* ------START FOOTER------ */
.footer{
    background-color: var(--hero-background-color);
    padding: 60px 0;
}
    
.footer-address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
    font-style: normal;
   }

.footer-email, .footer-phone {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-email-phone);
}

.footer-email:hover, .footer-email:focus, .footer-phone:hover, .footer-phone:focus, .footer-address:hover, .footer-address:focus {
    color: var(--accent-color);    
}

.footer-container{
    display: flex; 
    flex-direction: column;  
}

.footer-logo{
    margin-bottom: 20px;
    margin-right: 0px;
}

.footer-contacts-item:not(:last-child){
    margin-bottom: 9px;
}
/* ------END FOOTER------ */

/* ------START PORTFOLIO------ */

.portfolio-button-list{
    display: flex;
    margin-bottom: 50px;
   justify-content: center;

}
.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--team-background-color);
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border: none;
}

.portfolio-button-item:not(:last-child){
    margin-right:8px;
}

.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.portfolio-cards-list{
    background-color: var(--primary-white-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;  
    margin-left: -30px;
}

.portfolio-cards-item{
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-container-cards-name{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.project-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-text-color);
    margin-bottom: 4px;
}

.project-type{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
/* ------END PORTFOLIO------ */